@font-face {
  font-family: "ArticulatCF";
  src: url(../fonts/ArticulatCF-Bold.eot), url(../fonts/ArticulatCF-Bold.otf),
    url(../fonts/ArticulatCF-Bold.woff), url(../fonts/ArticulatCF-Bold.woff2);
}

* {
  box-sizing: border-box;
}

.card-body-auth {
  margin: 0 auto;
  max-width: 620px;
  padding: 40px 0;
  border-radius: 20px;
  background-color: #ffffff;
}

.card-body-auth__header {
  margin-bottom: 40px;
}

.card-body-auth__google {
  margin: 0 auto;
  width: 500px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #f7f7f7;
}

.card-body-auth__title {
  font-family: "ArticulatCF";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000b20;
}

.card-body-auth__subtitle {
  display: block;
  font-family: ArticulatCF;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000b20;
  margin: 40px 0;
}

.logo-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.btn.btn-block {
  margin: 0 auto;
  width: 224px;
  height: 51px;
  flex-grow: 0;
  padding: 15px 30px 17px;
  border-radius: 40px;
  background-color: #5448c8;
  font-family: ArticulatCF;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.card-body-auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-signin {
  margin: 0 auto;
  width: 500px;
  height: 64px;
}

.form-label-group.auth {
  position: relative;
}

.form-control-autheriz {
  min-width: 500px;
  height: 64px;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 40px;
  border: none;
}

.form-control-autheriz::placeholder {
  font-family: "ArticulatCF";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}

.custom-control.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body-auth__gen {
  display: block;
  margin: 0;
  position: absolute;
  top: 53.5%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "ArticulatCF";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000b20;
}

.card-body-auth__login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 60px;
}

.card-body-auth__labels {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f7f7f7;
}

.card-body-auth__about {
  margin-top: 40px;
  text-align: center;
}
