@font-face {
  font-family: "ArticulatCF";
  src: url(../fonts/ArticulatCF-Bold.eot), url(../fonts/ArticulatCF-Bold.otf),
    url(../fonts/ArticulatCF-Bold.woff), url(../fonts/ArticulatCF-Bold.woff2);
}

* {
  box-sizing: border-box;
}

.card-body-auth {
  margin: 0 auto;
  padding: 10px;
  max-width: 350px;
  max-height: 500px;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.card-body-auth__header {
  margin-bottom: 15px;
}

.card-body-auth__google {
  width: 330px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.card-body-auth__input {
  margin: 0 0 5px;
}

.card-body-auth__title {
  font-family: "ArticulatCF";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000b20;
}

.card-body-auth__subtitle {
  display: block;
  font-family: "ArticulatCF";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000b20;
  margin: 10px 0;
}

.logo-google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-block {
  margin: 0 auto;
  width: 200px;
  height: 20px;
  flex-grow: 0;
  border-radius: 40px;
  background-color: #5448c8;
  font-family: "ArticulatCF";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.card-body-auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-signin {
  margin: 0 auto;
  width: 350px;
  height: 64px;
}

.form-label-group.auth {
  position: relative;
}

.form-control-autheriz {
  min-width: 330px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  border: none;
}

.form-control-autheriz::placeholder {
  font-family: "ArticulatCF";
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}

.card-body-auth__gen {
  display: block;
  margin: 0;
  position: absolute;
  top: 43.5%;
  left: 85%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "ArticulatCF";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000b20;
}

.card-body-auth__login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body-auth__labels {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: #f7f7f7;
}

.card-body-auth__about {
  text-align: center;
}
